/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.space_flex {
  display: flex;
  justify-content: space-between;
}
.head_margin {
  margin-top: 3%;
  margin-left: 3%;
}
body {
  margin: 4%;
}
body nav {
  display: flex;
  justify-content: end;
}
body nav a {
  margin: 2%;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}
body nav a:hover {
  text-decoration: underline;
}
body header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #e9e8e8;
  border-radius: 0.5rem;
}
body header img {
  width: 30%;
  height: 95%;
  margin-top: 3%;
  margin-left: 3%;
}
body header h1 {
  font-size: 7.5vw;
  margin-top: 3%;
  margin-left: 3%;
}
body header h2 {
  font-size: 3vw;
  margin-left: 3%;
  margin-top: 1%;
}
body header .aboutme {
  margin: 3%;
}
body header button {
  width: 15%;
  margin-left: 3%;
  margin-bottom: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #747474;
  color: white;
  font-size: 1.5vw;
  border-radius: 0.5rem;
}
body header button:hover {
  cursor: pointer;
}
body .middle_section {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
body .middle_section .description {
  width: 48%;
}
body .middle_section .description h3 {
  font-size: 2.75vw;
}
body .middle_section .description p {
  margin-top: 2%;
}
body .middle_section .skills {
  width: 48%;
}
body .middle_section .skills h4 {
  font-size: 2.75vw;
}
body .middle_section .skills ul {
  margin-top: 2%;
  text-align: center;
}
body .middle_section .skills ul li {
  padding-top: 3%;
  padding-bottom: 3%;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
body .middle_section .skills ul li:last-child {
  border-bottom: 1px solid grey;
}
body .work_history {
  margin-top: 4%;
  width: 100%;
}
body .work_history h5 {
  font-size: 2.75vw;
}
body .work_history table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 8%;
}
body .work_history table th,
body .work_history table td {
  height: 3rem;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid grey;
}
body .work_history table th {
  font-size: 2.55vw;
}
body .work_history table tr:last-child {
  border-bottom: 1px solid grey;
}
body .work_history table tr:nth-child(odd) {
  background-color: #e9e8e8;
}
body footer {
  background-color: #747474;
  color: white;
  text-align: center;
  padding-top: 1.55rem;
  height: 4rem;
  margin-bottom: 4%;
}
